<body>
    <h1>Search Results (<%= clients.length %> found)</h1>
    <hr>
    <div style="text-align: center;">
        <a class="btn btn-primary mb-4" href="/rmvdb">Back to RMV</a><br>
    </div>
    <form method="post" action="/clients/byName" style="margin-bottom: 20px; line-height: 2em;">
        <div style="line-height: 1em; text-align: center;">
            <input class="form-control" type="text" name="name" placeholder="Search for clients..."><br>
            <input class="btn btn-outline-primary btn-sm mx-auto" type="submit" value="Search">
        </div>
    </form>
        
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type of Service</th>
                <th>Vehicle Model</th>
                <th>Vehicle Cost</th>
                <th>Payment Type</th>
                <th>Amount Paid</th>
                <th>Received On</th>
                <th>Service Status</th>
                <th>Missing Documents</th>
            </tr>
        </thead>
        <% if (clients==null || clients.length==0) {%>
            
            No clients found
        
        <% } else  if (clients.length>0) { %>
            <tbody>

                <% for (client of clients) {
                    %>
                    <tr class="mb-2">
                        <td>
                            <a href="/clients/show/<%= client['_id'] %>">
                            <%= client['first_name'] %>
                            <%= client['last_name'] %>
                            </a>
                        </td>
                        <td>
                            <%= client['type_of_service'] %>
                        </td>
                        <td>
                            <%= client['vehicle_model'] %>
                        </td>
                        <td>
                            <%= client['vehicle_cost'] %>
                        </td>
                        <td>
                            <%= client['payment_type'] %>
                        </td>
                        <td>
                            <%= client['amnt_paid'] %>
                        </td>
                        <td>
                            <%= client['date_documents_received'] %>
                        </td>
                        <td>
                            <%= client['service_status'] %>
                        </td>
                        <td>
                            <%= client['missing_docs'] %>
                        </td>

                    </tr>
                    <% } %>
                <% } %>
            </tbody>
    </table>
</body>