<body>
    <div class="mt-4">
        <div style="text-align: center;">
            <a class="btn btn-outline-primary mx-5" style="text-align: center;" href="/rmvdb">Back to RMV Database</a>
        </div>
        <div class="bg-white text-center mx-5 my-3 p-2 border border-secondary rounded">
            <div class="mb-1 p-2">
                <b>Client Information </b>
                <br>
                <br>
                Name: <%= client['first_name'] %>
                <%= client['last_name'] %>
            </div>
            <div class="mb-1 p-2 text-center" style="line-height: 3em;">
                Address:<br>
                <%= client['street_address']%>
                <br>
                <%= client['city']%>,
                <%= client['state']%>,
                <%= client['zip_code']%>
            </div>
            <div class="mb-1 p-2" style="line-height: 3em;">
                <b>Vehicle Information</b><br>
                Vehicle Model: <%= client['vehicle_model']%><br>
                Vehicle Cost: $<%= client['vehicle_cost']%><br>
                State Tax Cost: $<%= client['state_tax_cost']%><br>
                Total Amount Paid: $<%= client['amnt_paid']%>
            </div>

            <div class="mb-1 p-2" style="line-height: 3em;">
                <b>Service Information</b><br>
                Type of Service: <%= client['type_of_service']%><br>
                Payment Type: <%= client['payment_type']%><br>
                Servicer: <%= client['servicer']%><br>
                Service Status: <%= client['service_status']%><br>
                Received On: <%= client['date_documents_received']%><br>
                Processing Issues/Missing Docs: <%= client['missing_docs']%><br>
                Completed On: <%= client['date_of_service_completion']%>
            </div>
            <div class="mb-1 p-3">
                <a class="btn btn-primary" href="/updateClient/show/<%= client['_id'] %>">Update</a>
                <a class="btn btn-danger" href="/client/delete/<%= client['_id']%>" 
                    onclick="return confirm('Are you sure you want to delete this client? This action cannot be undone.');">Delete</a>
            </div>
        </div>
    </div>
</body>

