<style>
    body{
        font-family:'Courier New', Courier, monospace;
    }
    .button {
      background-color: #9a9a9a;
      border: none;
      color: white;
      padding: 5px 32px;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
  <body>
    <script type = "text/javascript">  
      function updateConfirm(){
        alert("Client has been updated successfully!");
      }

      function cancelUpdate() {
        
      }
    </script> 
    <h1 style="text-align: center; margin: 1em;">Update Client</h1>
    <hr>
    <form method="post" action="/updateClient/update/:clientId">
      <b>Client Information</b>
      <br>
      First Name: <input type="text" name="first_name" placeholder="<%= client['first_name']%>"><br>
      Last Name: <input type="text" name="last_name" placeholder="<%= client['last_name']%>"><br>
      Street Address: <input type="text" name="street_address" placeholder="<%= client['street_address']%>"><br>
      City: <input type="text" name="city" placeholder="<%= client['city']%>"> <br>
      State: <input type="text" name="state" placeholder="<%= client['state']%>"><br>
      Zip Code: <input type="text" name="zip_code" placeholder="<%= client['zip_code']%>"><br>
      <br>
      <b>Vehicle Information</b>
      <br>
      Vehicle Model: <input type="text" name="vehicle_model" 
      placeholder="<%= client['vehicle_model']%>"><br>
      Vehicle Cost($): <input type="text" name="vehicle_cost" placeholder="<%= client['vehicle_cost']%>"><br>
      Amount Client Paid<br>
      (Includes Office Service Cost): <input 
      type="text" name="amnt_paid" placeholder="<%= client['amnt_paid']%>"><br>
      <br>
      <b>Service Information</b>
      <br>
      Type of Service:
      <select name="type_of_service">
          <option value="Register Vehicle">Register Vehicle</option>
          <option value="Renew Registration">Renew Registration</option>
          <option value="Cancel Registration">Cancel Registration</option>
      </select><br>
      Office Service Cost($): <input type="text" name="office_service_cost" 
      placeholder="<%= client['office_service_cost']%>"><br>
      Payment Type: 
      <select name="payment_type">
        <option value="Standard">Standard</option>
        <option value="Gift">Gift</option>
    </select><br>
      Date documents were first received: <input type="text" 
      name="date_documents_received" placeholder="<%= client['date_documents_received']%>"><br>
      Date of Completion<br>
      (If not completed, put "None"): <input 
      type="text" name="date_of_service_completion" placeholder="<%= client['date_of_service_completion']%>"><br>
      Service Status:
      <select name="service_status">
        <option value="Pending Approval">Pending Approval</option>
        <option value="On Hold">On Hold</option>
        <option value="Completed"> Completed</option>
      </select><br>
      Servicer: <input type="text" name="servicer" placeholder="<%= client['servicer']%>"><br>
      Issues/Missing Documents: <input type="text" name="missing_docs" placeholder="<%= client['missing_docs']%>"><br>
      Payment Received ($):  <input type="text" name="payment_received" placeholder="<%= client['payment_received']%>"><br>
      <br>
      <br>
        <a class="button" href="/clients/show/<%= client['_id']%>">Cancel</a>
      <br>
      <br>
      <input type="submit" value="Save Changes" onclick="updateConfirm()"><br>
  </form>
  </body>