<style>
    body{
        font-family:'Courier New', Courier, monospace;
    }
    .button {
      background-color: #9a9a9a;
      border: none;
      color: white;
      padding: 5px 32px;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
  <body>
    <script type = "text/javascript">  
      function updateConfirm(){
        alert("Client has been updated successfully!");
      }
    </script> 
    <h1 style="text-align: center; margin: 1em;">Update Client</h1>
    <hr>
    <form method="post" action="/updateClient/update/<%= client['_id']%>">
      <b>Client Information</b>
      <br>
      First Name: <input type="text" name="first_name" value="<%= client['first_name']%>"><br>
      Last Name: <input type="text" name="last_name" value="<%= client['last_name']%>"><br>
      Street Address: <input type="text" name="street_address" value="<%= client['street_address']%>"><br>
      City: <input type="text" name="city" value="<%= client['city']%>"> <br>
      State: <input type="text" name="state" value="<%= client['state']%>"><br>
      Zip Code: <input type="text" name="zip_code" value="<%= client['zip_code']%>"><br>
      <br>
      <b>Vehicle Information</b>
      <br>
      Vehicle Model: <input type="text" name="vehicle_model" 
      value="<%= client['vehicle_model']%>"><br>
      Vehicle Cost($): <input type="text" name="vehicle_cost" 
      value="<%= client['vehicle_cost']%>"><br>
      State Tax Cost($): <input type="text" name="state_tax_cost" 
      value="<%= client['state_tax_cost']%>"><br>
      Amount Client Paid($)<br>
      (Including Office Service Cost): <input 
      type="text" name="amnt_paid" value="<%= client['amnt_paid']%>"><br>
      <br>
      <b>Service Information</b>
      <br>
      Type of Service:
      <select name="type_of_service">
          <option value="" selected disabled hidden>Choose one</option>
          <option value="Register Vehicle">Register Vehicle</option>
          <option value="Renew Registration">Renew Registration</option>
          <option value="Cancel Registration">Cancel Registration</option>
      </select><br>
      Office Service Cost($): <input type="text" name="office_service_cost" 
      value="<%= client['office_service_cost']%>"><br>
      Payment Type: 
      <select name="payment_type">
        <option value="" selected disabled hidden>Choose one</option>
        <option value="Standard">Standard</option>
        <option value="Gift">Gift</option>
    </select><br>
      Date documents were first received: <input type="text" 
      name="date_documents_received" value="<%= client['date_documents_received']%>"><br>
      Date of Completion<br>
      (If not completed, put "None"): <input 
      type="text" name="date_of_service_completion" value="<%= client['date_of_service_completion']%>"><br>
      Service Status:
      <select name="service_status">
        <option value="" selected disabled hidden>Choose one</option>
        <option value="Pending Approval">Pending Approval</option>
        <option value="On Hold">On Hold</option>
        <option value="Completed"> Completed</option>
      </select><br>
      Servicer: <input type="text" name="servicer" value="<%= client['servicer']%>"><br>
      Issues/Missing Documents: <input type="text" name="missing_docs" value="<%= client['missing_docs']%>"><br>
      Payment Received ($):  <input type="text" name="payment_received" value="<%= client['payment_received']%>"><br>
      <br>
      <br>
        <a class="button" href="/clients/show/<%= client['_id']%>">Cancel</a>
      <br>
      <br>
      <input type="submit" value="Save Changes" onclick="updateConfirm()"><br>
  </form>
  </body>